*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

[table-content] {
    width: 100%;
    overflow-y: auto;
    background: var(--surface-color);
    padding: 10px;
    border-radius: 10px;
}

[table-content] table {
    color: var(--text-surface-color);
    width: 100%;
}