<div @attributes="AdditionalAttributes">
    @ChildContent
</div>

@code {
    [Parameter, EditorRequired]
    public RenderFragment ChildContent { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AdditionalAttributes { get; set; }
}
